body {
  background-color: black;
  /* sets the colour of the background to black */
}
footer {
  text-align: center;
  /* aligns the footer to the center of the page */
  color: white;
  /* the colour of the text is white */
}
h1 {
  font-family: sans-serif;
  font: arial;
  /* changes the font style */
  font-size: 2.5em;
  /* changes the font size */
  margin-top: 0em;
  margin-bottom: 0em;
  /* minimalize the margin so the text is not so separated */
  text-align: center;
  text-align: top;
  /* aligns the text to the center and top */
  color: white;
  /* sets the colour of the text to white */
}
#CanvasContainer {
  width: 594px;
  /* makes sure that it is aligned to the center based on the width */
  margin: 0px auto;
  /* no margin */
}
